/* styles.css */

/* Стилизация заголовка */
h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
}

/* Стилизация изображения самолета */
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
